/* Content */
.content {
    margin: 60px 0 0 0;
    padding: 0 20px;
    @include breakpoint(medium) {
        margin: 80px 0 0 0;
    }
    @include breakpoint(large) {
        margin: 120px 0 0 0;
        padding: 0 200px;
    }
    .content__list {
        @include breakpoint(medium) {
            @include flexRow(space-between, stretch, wrap);
        }
        // Rest of the secondary cards
        .content__card {
            margin: 0 0 50px;
            @include breakpoint(medium) {
                width: 30%;
            }
            @include breakpoint(large) {
                width: 22%;
            }
            .card__img {
                width: 100%;
                height: 188px;
                object-fit: cover;
                @include breakpoint(medium) {
                    height: 198px;
                }
                @include breakpoint(large) {
                    height: 158px;
                }
            }
            .card__title {
                margin: 10px 0 25px 0;
                font: {
                    family: $fontNoto;
                    size: 2.1em;
                }
            }
            .card__p {
                font-size: 1.4em;
                @include breakpoint(large) {
                    font-size: 1.6em;
                }
            }
            .btn--primary--left {
                margin: 25px 0 0 0;
                font-size: 1em;
                @include btn(0);
                @include breakpoint(large) {
                    font-size: 1.4em;
                    @include textTransition();
                }
                &:hover {
                    background-position: 0%;
                }
            }
        }
        // content card primary shows the first on the list
        .content__card--primary {
            @include breakpoint(medium) {
                @include grid(1fr 1fr, none, self-start, center);
                width: auto;
            }
            .card__img {
                @include breakpoint(medium) {
                    padding: 0 43px 0 0;
                    grid-row-start: 1;
                    grid-row-end: 5;
                    height: 370px;
                    width: 100%;
                }
            }
            .card__title {
                @include breakpoint(large) {
                    font-size: 3.6em;
                }
            }
            .card__p {
                @include breakpoint(medium) {
                    grid-column-start: 2;
                }
            }
            .btn--primary--left {
                margin: 24px 0 0 0;
                @include breakpoint(medium) {
                    grid-column-start: 2;
                }
            }
        }
    }
    .btn--primary--center {
        @include btn(0 auto);
        font-size: 1em;
        @include breakpoint(large) {
            font-size: 1.4em;
            @include textTransition();
        }
        &:hover {
            background-position: 0%;
        }
    }
}