.intro {
    background-color: $lightBeige;
    }
    .intro__cover {
        position: relative;
        height: 340px;
        padding: 0 20px;
        background-color: $lightBeige;
        @include bgImg(url(../images/pattern.svg), 120%, 180px 50%); 
        @include flexColumn(center, flex-start, nowrap);
        @include breakpoint(medium) {
            background-position: 500px 50%;
            height: 400px;
            background-size: 85%;
        }
        @include breakpoint(large) {
            height: 500px;
            padding: 0 200px;
            background-position: 1000px 50%;
            background-size: 60%;
        }
        // title for cover
        .title {
            font: {
                size: 2.8em;
                family: $fontNoto;
                weight: 400;
            }
            @include breakpoint(medium) {
                font-size: 4.2em;
            }
            @include breakpoint(large) {
                font-size: 5.4em;
            }
        }
        // handwritten text for cover
        .handwritten {
            font: {
                size: 3em;
                family: $fontAlex;
                weight: 400;
            }
            color: $orange;
            margin: 10px 0 0 10px;
            @include breakpoint(medium) {
                font-size: 4.7em;
                margin: 10px 0 0 50px;
            }
            @include breakpoint(large) {
                position: absolute;
                top: 48%;
                font-size: 6em;
                margin: 10px 0 0 126px;
            }
        }
    }
    //intro fixed image
    .intro__image {
        @include bgImg(url(../images/bg.jpg), cover, 50% 50%); 
        background-attachment: fixed;
        width: 100%;
        z-index: -1;
        height: 800px;
        display: inline-block;
        width: 100%;
        transform: scale3d(1, 1, 1);
        will-change: transform;
    }
