.news {
    padding: 0 20px;
    margin: 60px 0 80px 0;
    @include breakpoint(large) {
        padding: 0 200px;
        margin: 120px 0;
    }
    // select tag for mobile devices
    .categories--small {
        display: block;
        font: {
            size: 1.4em;
        }
        background-color: $lightBlue;
        width: 100%;
        padding: 15px 18px;
        border: {
            bottom: 2px solid $blue;
            top: none;
            left: none;
            right: none;
        }
        outline: none;
        @include breakpoint(medium) {
            display: none;
        }
    }
    // regular div tag for tablets and larger devices
    .categories--large {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
        .categories__item {
            display: inline;
            margin: 0 32px 0 0;
            .categories__item--link {
                color: $black;
                cursor: pointer;
                background-color: transparent;
                border: none;
                outline: none;
                font: {
                    family: $fontNoto;
                    size: 2.1em;
                }
                @include breakpoint(large) {
                    transition: color 0.2s ease-in-out;
                }
                &:hover {
                    color: $orange;
                }
            }
        }
    }
    // news list with slick carousel
    .news__list {
        margin: 60px 0 0 0;
        @include breakpoint(medium) {
            @include flexRow(space-between, stretch, nowrap);
        }
        /* news slide */
        .news__item {
            margin: 0 0 40px 0;
            @include breakpoint(medium) {
                width: 100%;
                padding: 15px;
            }
            .news__img {
                margin: 0 0 10px 0;
                width: 100%;
                @include breakpoint(medium) {
                    height: 198px;
                    object-fit: cover;
                }
                @include breakpoint(large) {
                    height: 220px;
                }
            }
            p {
                font-size: 1.4em;
                margin: 24px 0 0 0;
                @include breakpoint(large) {
                    font-size: 1.6em;
                }
            }
        }
    }
    .category--tag {
        display: inline;
        background-color: $lightBeige;
        padding: 6px 4px;
        border: {
            bottom: 2px solid $orange;
            top: none;
            left: none;
            right: none;
        }
        @include breakpoint(large) {
            padding: 4px 9px;
        }
        .tag {
            font-size: 1em;
            @include breakpoint(large) {
                font-size: 1.2em;
            }
        }
    }
}

// slick carousel
.slider {
    display: none;
    @include breakpoint(medium) {
        @include flexRow(flex-end, center, nowrap);
    }
    //primary counter
    .slider__count--primary {
        font-size: 2em;
        margin: 0 15px 0 0;
    }
    // arrows
    .slider__arrow {
        background: {
            repeat: no-repeat;
            position: 50% 50%;
        }
        width:50px;
        height: 50px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
    }
    // left arrow
    .left {
        background-image: url(../images/arrow-left.svg);
        margin: 0 15px 0 0;
    }
    // right arrow
    .right {
        background-image: url(../images/arrow-right.svg);
        margin: 0 0 0 15px;
    }
    // seperation between counters
    .slider__sep {
        width: 1px;
        height: 50px;
        background-color: $darkGrey;
        display: block;
        transform: rotate(29deg);
    }
    // secondary counter
    .slider__count--secondary {
        font-size: 1.2em;
        margin: 0 0 0 15px;
    }
}
