// fonts
$fontRaleway: 'Raleway', sans-serif;
$fontAlex: 'Alex Brush', cursive;
$fontNoto: 'Noto Serif', serif;

// colors
$black: #2B2B2B;
$darkBlue: #205071;
$lightBlue: #F2F7FA;
$blue: #C0D6E5;
$lightBeige: #F9F6EF;
$orange: #D88B6C;
$grey: #FCFDFD;
$darkGrey: #DCDCDC;