@import './variables';
@import './mixins';
@import './header';
@import './intro';
@import './content';
@import './news';
@import './footer';

/* Base Styles */
* {
    font-family: $fontRaleway;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $black;
}

html {
    font-size: 62.5%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 24px;
}